.navbar {
    background-color: #5e584a;
    margin: 0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li:hover {
    background-color: #dad9d7;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #efefed;
}

.sidebar-nav{
    width: 100%;
    background-color: #ccc094;
    text-align: center;
    height: 100%;
}

.nav-header{
    background-color: #5e584a;
    height: 30px;
    color: #dad9d7;;
}

.nav-header span{
    margin-top: 10px;
}

#top5Aside{
    padding: 0;
}


.bajito{
    padding-bottom: 2%;
}

.arriba{
    padding: 2% 2% 0 0;
}

.arriba1{
    padding: 2% 0 0 0;
}

.arriba2{
    padding-top: 2%;
}