/**************************************************   Navbar Top         ***********************************************/
/***********************************************************************************************************************/

.navbar {
    background-color: rgba(33, 49, 53, 0.9);
    margin: 0;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li:hover {
    background-color: #dad9d7;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #efefed;
}

/**************************************************   Sidebar         **************************************************/
/***********************************************************************************************************************/
.sidebar-nav{
    width: 100%;
    text-align: center;
    height: 100%;
}

.nav-header span{
    margin-top: 10px;
}

#top5Aside{
    padding: 0;
    height: 100%;
}

#top5Aside li{
    background-color: #1b6d85;
    color: white;
}

#top5Aside li a{
    color: white;
}

#top5Aside li a:hover{
    background-color: #15485a;
    color: white;
}

#brandLogo{
    width: 100%;
    height: 150px;
    background: rgba(11, 19, 23, 0.9) url('../images/wLogo.png') no-repeat center;
}

#top5Aside .nav-header{
    background-color: rgba(33, 49, 53, 0.9);
    height: 30px;
    color: #dad9d7;
}

/**************************************************   Home Containers   ************************************************/
/***********************************************************************************************************************/
.couponsPanel .panel-heading{
    background-color: #d9edf7;
    color: black;
    font-size: large;
}

.list li{
    display: inline-block;
    width: 30%;
    min-width: 200px;
    padding: 1% 1%;
}

.couponContainer{
    width: 100%;
    height: 30%;
    background-color: rgba(21, 72, 90, 0.4);
    text-align: center;
    overflow: hidden;
}

.couponInfo h3{
    font-family: 'Patrick Hand SC',cursive;
    color: rgb(21, 72, 90);
    font-weight: bold;
}

.couponInfo{
    height: 320px;
    font-family: 'Times New Roman',cursive;
    font-size: large;
    overflow: auto;
    color: black;
}

.couponInfo span{
    display: block;
}

.couponImg{
    position: relative;
    width: 100%;
    height: 200px;
}

.priceTip{
    position: absolute;
    bottom: 0;
    right: 5px;
    color: white;
    text-shadow: 2px 2px 3px #000000;
    font-size: large;
    /*background-color: rgba(14,14,14,.4);*/
}

.discountTip{
    position: absolute;
    top: 0;
    left: 5px;
    color: #aa9300;
    text-shadow: 2px 2px 3px #000000;
    font-size: medium;
    font-weight: bold;
}

.sortAndSearch{
    width: 100%;
    background-color: #6375bf;
    display: block;
    margin-bottom: 50px;
}

#searchContainer{
    padding-right: 5px;
}

.paginationContainer{
    margin: 0 auto;
}

.pagination li {
    display:inline-block;
    padding: 5px 5px;
}

/**************************************************   General         **************************************************/
/***********************************************************************************************************************/

.bajito{
    padding-bottom: 2%;
}

.arriba{
    padding: 2% 2% 0 0;
}

.arriba1{
    padding: 2% 0 0 0;
}

.arriba2{
    padding-top: 2%;
}

.center {
    margin: 10px auto;
    text-align: center;
}

.button {
    border-radius: 10px;
    background-color: #dad9d7;
    color: #222;
}

.button:hover {
    background-color: #eecd7e;
    color: #222;
}

.text {
    font-size: 17px;
}

.textarea {
    resize: none;
}

.shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.centered-div {
    width: 95%;
    margin: auto;
}

.facebookBtn{
     background-color: #3b5998;
 }

.facebookBtn:hover{
    background-color: #2a3461;
}

.topPad{
    padding-top: 8%;
}

